.result-style {
  display: flex;
  text-align: left;
  width: 100%;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 30px rgba(0 0 0 / 0.7);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}


.w-5 {
  width: 5%!important;
}
.w-10 {
  width: 10%!important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg {
  background-image: url(thumb.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 100vh;
}
.img {
  max-width: 400px;
  max-height: 260px;
  padding-right: 0px;
  border-radius: 20px;
}

/* @media (max-width: 777px) {
  .img {
    border-radius: var(--bs-border-radius)!important;
    margin-right: auto!important;
    margin-left: auto!important;
    display: block!important;
  }
  #content {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .result-style {
    display: block;
    text-align: none;
    width: 100%;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 30px rgba(0 0 0 / 0.7);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    box-sizing: border-box;
  }
} */

.fontKK {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.aa {
  border-radius: var(--bs-border-radius)!important;
  margin-right: auto!important;
  margin-left: auto!important;
  display: block!important;
}