.result-style {
  display: flex;
  text-align: left;
  width: 100%;
  margin-top: 30px;
  border-radius: 20px;
  box-shadow: 0 5px 30px rgba(0 0 0 / 0.7);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

.img {
  max-height: 280px;
  padding-right: 20px;
  border-radius: 20px;
}

.w-5 {
  width: 5%!important;
}
.w-10 {
  width: 10%!important;
}
